<!DOCTYPE html>

<html>

<head>
    <title> Coming Soon - BoatSpace </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    
    <meta name="description" content="BoatSpace is a new Discord bot list for you to find the perfect bot for your server.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Coming Soon - BoatSpace">
    <meta itemprop="description" content="BoatSpace is a new Discord bot list for you to find the perfect bot for your server.">
    <meta itemprop="image" content="https://boatspace.xyz/cdn/img/boat.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://boatspace.xyz">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Coming Soon - BoatSpace">
    <meta property="og:description" content="BoatSpace is a new Discord bot list for you to find the perfect bot for your server.">
    <meta property="og:image" content="https://boatspace.xyz/cdn/img/boat.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Coming Soon - BoatSpace">
    <meta name="twitter:description" content="BoatSpace is a new Discord bot list for you to find the perfect bot for your server.">
    <meta name="twitter:image" content="https://boatspace.xyz/cdn/img/boat.png">
</head>

<body>
    <section class="hero is-info is-fullheight" style="background-color: rgb(35, 39, 42);">
        <section id='header'>
            <div class="hero-head">
            </div>
            <div class="hero-body">
                <noscript>
                    <h1 class="title is-1">
                        Please allow JavaScript to use BoatSpace.
                    </h1>
                </noscript>
                <div class="container has-content-centered">
                    <img src="/cdn/img/boat.png" width=100 height=100>
                    <h1 class="title is-1 font-weight-lighter">BoatSpace</h1>
                    <h4 class="title is-4 font-weight-lighter">Coming soon to a dank river valley near you.</h4>
                </div>
            </div>
        </section>
    </section>
    <footer class="footer" style="background-color: rgb(114, 137, 218)">
<!--         <div class="container">
            <br>
            <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                    <div class="pr-xl-4">
                        <a class="brand">
                            <img class="brand-logo-light" src="/cdn/img/boat.png" alt="BoatSpace logo"
                                srcset="/cdn/img/boat.png" width=90 height=90>
                        </a>
                        <p id=footer-text>
                            BoatSpace is a new repository of Discord bots to enhance your server. Find the best bot for
                            your needs and add it to your server quickly, easily, and for free.
                        </p>
                        <p class="rights">
                            <span id=footer-text>Copyright © </span>
                            <span id="footer-text" class="copyright-year">2019 - 2020</span>
                            <span></span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3">
                    <ul class="nav-list">
<!--                         <li><a id="footer-text" href="/">Home Page</a></li>
                        <li><a id="footer-text" href="/about">About DBL</a></li>
                        <li><a id="footer-text" href="/browse">Browse bots</a></li>
                        <li><a id="footer-text" href="https://discord.gg/tfQqub6">Community</a></li>
                        <li>
                            <% if (auth) { %>
                                <a id="footer-text" href="/bots/add">Add Bot</a>
                            <% } else { %>
                                <a id="footer-text" href="/login/discord?redirect=http%3A%2F%2Flocalhost%2Fbots%2Fadd">Add Bot</a>
                            <% } %>
                        </li>
                        <li><a id="footer-text" title="This endpoint has not yet been implemented."
                                href="/certification">Certification</a></li>
                        <li><a id="footer-text" title="This endpoint has not yet been implemented." href="/api/docs">API
                                Docs</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
    </footer>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173153523-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173153523-1');
    </script>

    <link href="/cdn/img/boat.png" rel=icon>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>     
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script async src="https://arc.io/widget.min.js#QMth8oEK"></script>
</body>

</html>
