<!DOCTYPE html>

<html>

<head>
    <title> Coming Soon - BoatSpace </title>
    <link href="/cdn/img/logo.png" rel=icon>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/cdn/css/style.min.css" rel="stylesheet">
    <link href="/cdn/css/bootstrap.min.css" rel="stylesheet">
    <link href="/cdn/css/bulma.min.css" rel="stylesheet">
</head>

<body>
    <section class="hero is-info is-fullheight" style="background-color: rgb(35, 39, 42);">
        <section id='header'>
            <div class="hero-head">
                <nav class="navbar">
                    <div class='container' style="background-color: rgb(114, 137, 218)">
                        <div class="navbar-brand">
                            <span></span>
                            <a class="navbar-item" href="/" style='background-color: rgb(114, 137, 218)'><img
                                    src="/cdn/img/boat.png"></a>
                            &nbsp;
                            <ul class="navbar-nav ml-auto">
                                <form method="GET" action="/browse">
                                    <div class="flex-item">
                                        <input id="search" disabled class="form-control mr-sm-2" maxlength=20 name="search"
                                            placeholder="Search for a bot..."><button disabled class="btn btn-light"
                                            type=submit>Search</button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <span id=nav-toggle>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </div>
                            <!-- Tabs -->
                            <p>Coming Soon</p>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <noscript>
                    <h1 class="title is-1">
                        Please allow JavaScript to use BoatSpace.
                    </h1>
                </noscript>
                <div id="centerDiv" class="container">
                    <img src="/cdn/img/boat.png" height=225 width=225>
                    <h1 class="title is-1 font-weight-lighter">BoatSpace</h1>
                    <p class="title is-4 font-weight-lighter">Coming Soon</p>
                </div>
            </div>
        </section>
    </section>
    <footer class="footer" style="background-color: rgb(114, 137, 218)">
        <div class="container">
            <br>
            <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                    <div class="pr-xl-4">
                        <a class="brand">
                            <img class="brand-logo-light" src="/cdn/img/boat.png" alt="BoatSpace logo"
                                srcset="/cdn/img/boat.png" width=90 height=90>
                        </a>
                        <p id=footer-text>
                            BoatSpace is a new repository of Discord bots to enhance your server. Find the best bot for
                            your needs and add it to your server quickly, easily, and for free.
                        </p>
                        <p class="rights">
                            <span id=footer-text>Copyright © </span>
                            <span id="footer-text" class="copyright-year">2019 - 2020</span>
                            <span></span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3">
                    <ul class="nav-list">
<!--                         <li><a id="footer-text" href="/">Home Page</a></li>
                        <li><a id="footer-text" href="/about">About DBL</a></li>
                        <li><a id="footer-text" href="/browse">Browse bots</a></li>
                        <li><a id="footer-text" href="https://discord.gg/tfQqub6">Community</a></li>
                        <li>
                            <% if (auth) { %>
                                <a id="footer-text" href="/bots/add">Add Bot</a>
                            <% } else { %>
                                <a id="footer-text" href="/login/discord?redirect=http%3A%2F%2Flocalhost%2Fbots%2Fadd">Add Bot</a>
                            <% } %>
                        </li>
                        <li><a id="footer-text" title="This endpoint has not yet been implemented."
                                href="/certification">Certification</a></li>
                        <li><a id="footer-text" title="This endpoint has not yet been implemented." href="/api/docs">API
                                Docs</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
